<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
              
        var score=localStorage.getItem('score');
        $('#score').html("Total Score : "+score)
        $.ajax({
            url : '/auth/token/logout/',
            type : 'POST',
            headers :{"Authorization": localStorage.getItem('token')},
            success : function(data){
                console.log("logged out")
            }
        })
        localStorage.clear()
        
    })
    </script>
</head>
<body>
    <h1 align="center">logged out</h1>
    <p id="score" align="center"></p>
    <a href="/">return to homepage</a>
</body>
</html>